@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Righteous&display=swap');

body {
    background-color: #F5EFE6;
    font-family: 'Righteous', cursive;
}

h1 {
    margin: 0;
}

p {
    font-size: 60px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;
    max-width: 600px;
    min-width: 460px;
    margin: 0 auto;
    margin-top: 20vh;
    height: 300px;
    border: #F5EFE6;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px gray;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}


