@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Righteous&display=swap');

button {
    padding: 20px;
    margin: 0 10px;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
    background-color: #377D71;
    color: white;
}

