@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Righteous&display=swap');

button {
    padding: 20px;
    margin: 0 10px;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
    color: white;
}

.increment {
    background-color: #377D71;
}

.reset {
    background-color: rgba(116, 115, 115, 0.937);
}

.decrement {
    background-color: rgb(255, 162, 0);
}
